
/.settings
/ria/.settings
/ria/target
/ria/.project
/ria/.classpath
/webapp-deprecated/target
/webapp-deprecated/.settings
/webapp-deprecated/store
/webapp-deprecated/.project
/webapp-deprecated/.classpath
/war/target
/war/.settings
/war/store
/war/.project
/war/.classpath
/.project
/war/src/main/webapp/Vmstax.swf
